body {
  font-family: sans-serif;
}

.kol-inputgroup {
  display: grid;
  gap: 0.5em;
  grid-auto-flow: column;
  justify-content: start;
}

@media (max-width: 480px) {
  /* Collapse to 2-column form layout on narrow screens */
  .kol-inputgroup {
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    justify-items: start;
  }
}

.table-candle {
  --table-candle-border: 1px solid black;

  border: var(--table-candle-border);
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin-top: 1em;
  text-align: center;
}

.table-candle > * {
  border-left: var(--table-candle-border);
  padding: 0.25em;

  /* Vertically center content */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-candle > *:nth-child(6n + 1) {
  border-left: none;
}

.table-candle__header-cell {
  background-color: #eee;
  font-weight: bold;
}

.table-candle__cell {
  border-top: var(--table-candle-border);
}

/* Color alternating rows */
.table-candle__cell:nth-child(12n + 1),
.table-candle__cell:nth-child(12n + 2),
.table-candle__cell:nth-child(12n + 3),
.table-candle__cell:nth-child(12n + 4),
.table-candle__cell:nth-child(12n + 5),
.table-candle__cell:nth-child(12n + 6) {
  background-color: #ffe;
}

.candle-info > * {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.candle-info__type {
  color: #666;
  font-size: 75%;
}

.candle-info__effect {
  color: #009;
  font-size: 60%;
  font-weight: 600;
}

/* Responsive tables */
@media (max-width: 639px) {
  .table-candle {
    min-width: 270px;
    grid-auto-flow: column;
    grid-template-columns: auto repeat(2, minmax(100px, auto)) auto;
  }

  .table-candle__column-day {
    grid-row-end: span 2;
  }

  .table-candle__column-equip {
    grid-column-start: 2;
  }

  .table-candle__column-premium {
    grid-column-start: 2;
  }

  .table-candle__column-basic {
    grid-column-start: 3;
  }

  .table-candle__column-seed {
    grid-column-start: 4;
    grid-row-end: span 2;
  }

  .table-candle__header-cell.table-candle__column-premium,
  .table-candle__header-cell.table-candle__column-basic
    + .table-candle__column-basic {
    border-top: var(--table-candle-border);
  }

  .candle-info__effect {
    font-size: 75%;
  }
}

/* Very narrow screens */
@media (max-width: 359px) {
  .table-candle {
    font-size: 80%;
  }
}
.element-hot {
  color: #c00;
}
