.table-candle {
  --table-candle-border: 1px solid black;

  border: var(--table-candle-border);
  border-collapse: collapse;
  margin-top: 1em;
  text-align: center;
}

.table-candle td,
.table-candle th {
  border: var(--table-candle-border);
  padding: 0.25em;
}

.table-candle th {
  background-color: #eee;
}

.table-candle tr:nth-child(even) {
  background-color: #ffe;
}

.candle-info {
  display: flex;
  flex-flow: column;
}

.candle-info > * {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.candle-info__type {
  color: #666;
  font-size: 75%;
}

.candle-info__effect {
  color: #009;
  font-size: 60%;
  font-weight: 600;
}
