.table-candle {
  --table-candle-border: 1px solid black;

  border: var(--table-candle-border);
  border-collapse: collapse;
  margin-top: 1em;
  text-align: center;
}

.table-candle td,
.table-candle th {
  border: var(--table-candle-border);
  padding: 0.25em;
}

.table-candle th {
  background-color: #eee;
}

.table-candle tr:nth-child(2n) {
  background-color: #ffd;
}
